body{
    margin: 0;
    text-align: center;
    font-family: 'Cabin Sketch';
    /* overflow-x: hidden; */
    overflow-y: hidden;
}
#leftSide{
    float: left;
    width: 50%;
    background-color: #08E596;
    height: 100vh;

}
#rightSide{
    float: right;
    width: 50%;
}
#headingSecLeft, #headingSecRight{
    position: relative;
    top: 16vh;
    font-size: 4.5vw;
}
#headingSecLeft{
    float: right;
}
#headingSecRight{
    float: left;
}
#title1, #title2{
    display: inline;
    font-size: 10vw;
}

#title1{
    color: white;
    border-bottom: 5px solid white;
    padding-right: 1vw;
    padding-left: 31vw;
}

#title2{
    color: #08E596;
    border-top: 5px solid #08E596;
    padding-left: 1vw;
    padding-right: 27.7vw;

}
#randomLoc{
    width: 24vw;
    /* height: 48%; */
    background: white;
    position: relative;
    top: 44vh;
    left: 3vw;
}
/* #randomLocBody{
    height: 20px;
} */
homeForm{
    height: 10px;
    position: relative;
    top: -12vh;
}
.subHeader{
    font-size: 2.5vw;
    margin: 0px;
    float: left;
    width: 60%;
    position: relative;
    top: -10vw;
}
#randomLocImage{
    position: relative;
    height: 70px;
    width: 70px;
    float: right;
    width: 30%;
    top:-8vw;
    left:-2vw;
}
input{
    margin: 3px;
    padding: 5px;
    padding-bottom: 3px;
    width: 22vw;
    /* max-width: 16vw; */
}
#favLoc{
    width: 24vw;
    /* height: 50vh; */
    background: #08E596;
    position: relative;
    top: 44vh;
    left: 22vw;
}
.outer{
    height: 10vh;
    width: 10vw;
    max-width: 80px;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
}
.inner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
}
#coffeeBubbleOuter{
    background: white;
    left: 36vw;
    top: -5vh;
}
/* #coffeeBubbleInner{

} */
#friesBubbleOuter{
    background: white;
    left: 41.5vw;
    top: -3vh;
}
/* #friesBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#saladBubbleOuter{
    background: white;
    left: 32.5vw;
    top: -8vh;

}
/* #saladBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#burgerBubbleOuter{
    background: white;
    left: 38vw;
    top: -8vh;
}
/* #burgerBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#pizzaBubbleOuter{
    background: white;
    left: 30vw;
    top: -9vh;
}
/* #pizzaBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#tacoBubbleOuter{
    background: white;
    left: 42vw;
    top: -16vh;

}
/* #tacoBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#iceCreamBubbleOuter{
    background: #08E596;
    left: 6vw;
    top: 0vh;
}
/* #iceCreamBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#riceBubbleOuter{
    background: #08E596;
    left: 12vw;
    top: 0vh;
}
/* #riceBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#kebabBubbleOuter{
    background: #08E596;
    left: 3vw;
    top: 0vh;
}
/* #kebabBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#sushiBubbleOuter{
    background: #08E596;
    left: 12vw;
    top: -2vh;
}
/* #sushiBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */
#pastaBubbleOuter{
    background: #08E596;
    left: 5vw;
    top: -4vh;
}
/* #pastaBubbleInner{
    width: 70%;
    height: 70%;
    margin: 0% auto;
    position: relative;
    top: 15%;   
} */